body{
    margin: 0%;
}

section{
    margin: 1rem;
}

.banner{
    width: 95rem;
    height: 50rem;
    margin: 0%;
    padding: 0%;
}

.myimg{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
    /* object-fit: cover; */
}

.hello{
    color:blue;
    text-align: center;
    margin-top: 0.5rem; 
}
.para{
    line-height: 1.8;
    font-style: italic;
    font-size: 1.5rem;
    color:black;
    text-align: center;
    margin-top: 0.5rem; 
}